.App {
  text-align: center;
}

.grid-container {
  margin: 0 auto;
  width: 500px;
  height: 500px;
  /*box-sizing: border-box;*/
  border: 6px solid gray;
  border-radius: 5px;
}

.grid-row {
  height: 125px;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}
.grid-cell {
  width: 121px;
  height: 121px;
  display: inline-block;
  border: 2px solid gray;
  background-color: orange;
  font-size: 250%;
  vertical-align: top
}

.grid-empty-cell {
  background-color: rgba(238, 228, 218, 0.35);
}
